<html lang="zh_TW">
    <head>
        <title>說文解字</title>
        <link rel="stylesheet" href="/static/dict.css" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <meta property="og:title" content="%nameMeta%" />
        <meta property="og:description" content="[%posMeta%] %defMeta%" />
        %imgMeta%
    </head>
    <body>
        <div class="dict">
            <h1>%name%</h1>
            <p><span class="pos">%pos%</span> %def%</p>
            %ex%
            <div class="imagewrapper">
                %img%
            </div>
        </div>
    </body>
    <script src="/static/dict.js"></script>
</html>